@tailwind base;
@tailwind components;
@tailwind utilities;

.aaran-text {
    font-size: 1.6rem; /* Keeps it readable */
    font-weight: 600; /* Semi-bold for balance */
    font-family: "Playfair Display", serif; /* Elegant and premium look */
    letter-spacing: 0.5px; /* Subtle spacing */
}
.shoppy-text {
    font-size: 1.6rem; /* Keeps it readable */
    font-weight: 600; /* Semi-bold for balance */
    font-family: "Playfair Display", serif; /* Elegant and premium look */
    letter-spacing: 0.5px; /* Subtle spacing */
}